
span{
    display: inline-block;
}

.yellowBG{
    background-color: #ffe468;
}

.yellowColor{
    color:#ffe468;
}

.greenColor{
    color:#8cc641;
}

.darkBG{
    background-color: #272630;
}

.logoSize{
    font-size: 700px;
}

.hero{
    height: 85vh;
    background-image: url("../img/hero.jpg");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
   background-color: #ffe468;
}

.heading{
    margin-top: 100px;
    font-size: 60px;

}

.abotBG{
    height: 325px;
    margin: 100px 0px;
    background-image: url("../img/about-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.btn-all{
    border: 20px;
    border-radius: 32px;;
    padding: 16px 50px;
    background-color: #8cc641 ;
    color: white;
    box-shadow: 2px 2px 2px 2px ;
    

}

.heading-2{
    margin-top: 10px;
    margin-bottom: 27px;
}
.paragraph-1{
    margin-bottom: 22px;
}
.image-positon{
    height: 495px;
    width: 510px;
   
    position: absolute;
    right: 46px;
    top:  0px;
    z-index: -1;
    
}

.image-positon2{
    height: 495px;
    width: 510px;
   position: absolute;
    left: 46px;
    top:  0px;
    z-index: -1;
    
}
.positioning{
    position: relative;
   
}
.bottom-img{
    height: 520px;
    width: 555px;
    

}

.service-item{
    background-image: url("../img/service.jpg");
}
.service-icon{
    margin-top: -50px;
    width: 100px;
    height: 100px;
   
    background: #FFFFFF;
    transform: rotate(-45deg);

    display: flex;
    font-size: 40px;
    color: green;
    background-color: #ffdb63;
    border: 10px solid white;
    justify-content: center;
}

.service-icon > div{
    transform: rotate(45deg)
}

#PaintingServices{
    margin: 100px 0px;
}

.display-5{
    font-size: 40px;
}

.cardCustom{
    margin: 75px 0px;
}
.quote-img{
    height: 500px;
    width: 1100px;
}

.container-quote{
    background-image: url("../img/quote.jpg");
    background-size: cover;
}

.container-quote{

}
.team_members{
    margin-top: 300px;
    margin-bottom: 10px;
}
.heading_members{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.line-members{
    border-bottom: 2px solid #ffdb63;
    width: 100px;
    
}
.card_paint{
    position: relative;

}
.card_body_text{
    position: absolute;
    bottom: -60px;
    left: 35px;
    background-color: #ffdb63;
    width: 220px;
    text-align: center;
    
}

.last{
    margin-top: 150px;
    background-color:#ffdb63 ;
}